<div class="block w-full overflow-x-auto">
    <table class="items-center w-full bg-transparent border-collapse">
      <thead>
        <tr>
          <th *ngFor="let th of headers" class="px-4 bg-gray-100 dark:bg-gray-600 text-gray-500 dark:text-gray-100 align-middle border border-solid border-gray-200 dark:border-gray-500 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">{{th}}</th>
        </tr>
      </thead>
      <tbody>
          <tr class="text-gray-700 dark:text-gray-100" *ngFor="let item of config.data">
            <ng-container  *ngFor="let key of keyObject">
          <td class="border-t-0 px-4 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">{{item[key]}}</td>
        </ng-container>
        </tr>
      </tbody>
    </table>
  </div>