<div class="h-full ml-14 mt-14 mb-10 md:ml-64">
    <div class="py-3 px-5 mb-4 bg-gray-100 text-gray-900 rounded-md text-sm border border-gray-200">
        <ul class="flex">
            <li><a routerLink="/main/dashboard" class="underline font-semibold">Home</a></li>
            <li><span class="mx-2">/</span></li>
            <li><a routerLink="/main/user-profile" class="underline font-semibold">Change Password</a></li>
        </ul>
    </div>
    <div class="flex min-w-0 break-words mx-6 shadow-lg rounded-lg bg-gray-200 border-0">
        <div class="flex-auto px-4 lg:px-10 py-10 pt-0">
            <h6 class="text-blueGray-400 text-sm mt-3 mb-6 font-bold uppercase">
                Credentials
            </h6>
            <form [formGroup]="userPasswordGroup" (ngSubmit)="changePassword()">
                <div class="flex flex-wrap">
                    <div class="w-full lg:w-12/12 px-4">
                        <div class="relative w-full mb-3">
                            <label class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                                htmlFor="grid-password">
                                Current Password
                            </label>
                            <input type="password" formControlName="oldPassword" id="oldPassword"
                                class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150" />
                                <div *ngIf="userPasswordGroup.hasError('required', 'oldPassword')" class="text-xs font-normal max-w-full flex-initial text-red-500">Current Password is required.</div>
                            </div>
                    </div>
                    <div class="w-full lg:w-12/12 px-4">
                        <div class="relative w-full mb-3">
                            <label class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                                htmlFor="grid-password">
                                New Password
                            </label>
                            <input type="password" formControlName="newPassword" id="newPassword"
                                class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150" />
                                <div *ngIf="userPasswordGroup.hasError('required', 'newPassword')" class="text-xs font-normal max-w-full flex-initial text-red-500">New Password is required.</div>
                            </div>
                    </div>
                    <div class="w-full lg:w-12/12 px-4">
                        <div class="relative w-full mb-3">
                            <label class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                                htmlFor="grid-password">
                                Confirm Password
                            </label>
                            <input type="password" formControlName="confirmPassword" id="confirmPassword"
                                class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150" />
                                <div *ngIf="userPasswordGroup.hasError('required', 'confirmPassword')" class="text-xs font-normal max-w-full flex-initial text-red-500">Confirm Password is required.</div>
                                <div *ngIf="userPasswordGroup.hasError('notSame')" class="text-xs font-normal max-w-full flex-initial text-red-500">Password and Confirm Password must be match.</div>
                            </div>
                    </div>
                    <div class="flex justify-center items-center mt-5 px-4 w-full mb-5">
                        <button [disabled]="!userPasswordGroup.valid"
                            class="bg-red-600 text-white active:bg-red-700 font-bold uppercase text-xs px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none mr-1 ease-linear transition-all duration-150 content-start"
                            type="submit">
                            Submit
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>