
::ng-deep .success{
  background-color: #00c04b;
  color: white;
}


::ng-deep .error{
  background-color: #00c04b;
  color: white;
}

::ng-deep .warning{
  background-color: #F38701;
  color: white;
}
